.bg-gradient-dp {
  background: linear-gradient(180deg, rgba(155,80,255,1) 0%, rgba(148,0,255,1) 35%, rgba(119,4,237,1) 100%);
  background-size: 100% 100%;
}

h1, h2 {
  font-size: 12pt;
}

h1, h2, p {
  text-decoration: underline;
}

body {
  text-align: center;
}

a {
  color: #22d3ee;
  text-decoration: none;
}
